---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Aviso Legal">
  <h1>Aviso Legal</h1>
<br>
  <h2>1. Información General</h2>
  <p>De conformidad con lo establecido en la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y del comercio electrónico, se indican los siguientes datos:</p>
  <br>
  <ul>
    <li><strong>Denominación social:</strong> Eirado de Bouza Rica</li>
    <li><strong>Correo electrónico:</strong> <a href="mailto:bouzarica@gmail.com">bouzarica@gmail.com</a></li>
    <li><strong>Dirección:</strong> Castro Caldelas, Ourense, España</li>    
  </ul>
  <br>
  <h2>2. Propiedad Intelectual</h2>
  <p>Los contenidos de este sitio web, incluidos textos, imágenes, diseño gráfico y código fuente, son propiedad de Eirado de Bouza Rica o de terceros que han autorizado su uso. Queda prohibida la reproducción, distribución, modificación o utilización total o parcial de los mismos sin el consentimiento expreso de Eirado de Bouza Rica.</p>
  <br>
  <h2>3. Responsabilidad</h2>
  <p>Eirado de Bouza Rica no se hace responsable de los errores u omisiones en los contenidos de este sitio web ni de los daños derivados de su uso. La información proporcionada en el sitio tiene fines meramente informativos y no debe considerarse asesoramiento profesional.</p>
  <br>
  <h2>4. Enlaces a Terceros</h2>
  <p>El Blog puede contener enlaces a otros sitios web. Eirado de Bouza Rica no tiene control sobre el contenido de estos sitios y no asume ninguna responsabilidad por ellos. La inclusión de estos enlaces no implica la aprobación de los contenidos de los sitios enlazados.</p>
  <br>
  <h2>5. Protección de Datos</h2>
  <p>La utilización de este sitio implica la aceptación de la política de privacidad del Blog. Se garantiza que todos los datos personales serán tratados conforme a la normativa vigente en materia de protección de datos.</p>
  <br>
  <h2>6. Modificación del Aviso Legal</h2>
  <p>Eirado de Bouza Rica se reserva el derecho a modificar el presente aviso legal en cualquier momento, siendo eficaz la publicación en este sitio web.</p>
  <br>
  <h2>7. Legislación Aplicable</h2>
  <p>Este aviso legal se rige por la legislación española. Para la resolución de cualquier controversia, las partes se someten a la legislación y jurisdicción de los tribunales de Pontevedra, renunciando expresamente a cualquier otro fuero que pudiera corresponderles.</p>
 
</Layout>
