---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso Legal">
  <section class="container">
    <h1 class="title">Aviso Legal</h1>

    <h2 class="title">Información del Titular</h2>
    <p>
      <strong>Denominación Social:</strong> Tuna de la Facultad de Derecho de Santiago<br
      />
      <strong>Nombre Comercial:</strong> Tuna de Derecho de Santiago<br />
      <strong>CIF:</strong> G15251770<br />
      <strong>Domicilio:</strong> Av. Mestre Mateo s/n, 15706 Santiago de Compostela,
      A Coruña<br />
      <strong>Teléfono:</strong> 661 700 823<br />
      <strong>Email:</strong>      
        contratacion@tunaderechosantiago.com
      </p>

    <h2>Condiciones de uso</h2>
    <p>
      Tuna de Derecho de Santiago, responsable del sitio web, pone a disposición
      de los usuarios el presente documento con el que pretende dar cumplimiento
      a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la
      Sociedad de la Información y del Comercio Electrónico (LSSI-CE), así como
      informar a todos los usuarios del sitio web respecto a cuáles son las
      condiciones de uso del sitio web.
    </p>
    <p>
      Toda persona que acceda a este sitio web asume el papel de usuario,
      comprometiéndose a la observancia y cumplimiento riguroso de las
      disposiciones aquí incluidas, así como a cualquier otra disposición legal
      que fuera de aplicación.
    </p>
    <p>
      El usuario se compromete a hacer un uso adecuado de los contenidos y
      servicios que se ofrecen en el sitio web, y con carácter informativo pero
      no limitativo, a no emplearlos para:
    </p>
    <ul>
      <li>
        Incurrir en actividades ilícitas, ilegales o contrarias al orden
        público.
      </li>
      <li>
        Difundir contenidos de carácter racista, xenófobo, pornográfico, de
        apología del terrorismo o atentatorio contra los derechos humanos.
      </li>
      <li>
        Provocar daños físicos o lógicos en el sitio web, el de sus proveedores,
        o de terceras personas.
      </li>
      <li>
        Intentar acceder y, en su caso, manipular cuentas de correo o zonas de
        administración sin autorización expresa.
      </li>
    </ul>
    <p>
      Queda expresamente prohibida la reproducción, distribución y comunicación
      pública, de forma total o parcial, de los contenidos de este sitio web,
      sin autorización expresa del titular.
    </p>
    <p>
      El titular se reserva el derecho a modificar cualquier tipo de información
      que pudiera aparecer en el sitio web, sin que exista obligación de
      preavisar o poner en conocimiento de los usuarios dichas obligaciones,
      entendiéndose como suficiente con la publicación en el sitio web del
      titular.
    </p>
    <p>
      Las condiciones de uso del sitio, así como lo contenido en el aviso legal,
      se rigen conforme a la legislación española. El usuario se somete a la
      resolución de cualquier litigio ante los Juzgados y Tribunales de A
      Coruña.
    </p>

    <h2>Protección de datos</h2>
    <p>
      Tuna de Derecho de Santiago cumple con las directrices de la Ley Orgánica
      15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal.
      La cumplimentación y envío de los formularios incluidos en el sitio web
      implica el consentimiento expreso al titular para realizar envíos a través
      de correo electrónico o cualquier otro medio proporcionado a través de los
      formularios.
    </p>
    <p>
      Los datos de carácter personal recabados a través del sitio web serán
      incorporados a un fichero inscrito en el Registro General de la Agencia
      Española de Protección de datos, siendo Tuna de Derecho de Santiago el
      responsable del tratamiento.
    </p>
    <p>
      El usuario podrá ejercer sus derechos de acceso, rectificación y
      cancelación a través del correo electrónico en la dirección  
      contratacion@tunaderechosantiago.com
      .
    </p>

    <h2>Cookies</h2>
    <p>
      Para optimizar nuestros servicios, este Sitio, los mensajes enviados por
      correo electrónico, los servicios online y las aplicaciones interactivas
      pueden utilizar "cookies".
    </p>
    <p>
      Un cookie es un pequeño archivo, enviado por el servidor de nuestra web al
      archivo de cookies de su navegador. Ello permite a nuestra web recordar su
      presencia al establecerse una nueva conexión entre nuestro servidor y su
      navegador. El principal propósito de un cookie es permitir a nuestro
      servidor presentar páginas web personalizadas.
    </p>
    <p>
      Este sitio emplea cookies de sesión: cookies temporales que permanecen en
      el archivo de cookies de su navegador mientras está en nuestra página web.
      Estos cookies son necesarios para ciertas aplicaciones o funciones y
      permiten que este Sitio funcione adecuadamente.
    </p>
    <p>Este sitio no emplea cookies de terceros.</p>

    <h2>Limitaciones de Responsabilidad</h2>
    <p>
      El titular no se hace responsable del contenido de los sitios
      correspondientes a los enlaces externos incluidos en el sitio web.
    </p>
    <p>
      El titular no se hace responsable ante la posible caída del servidor,
      virus, o cualquier tipo de malfuncionamiento del sitio por causas ajenas
      al titular.
    </p>
    <p>
      El titular no se hace responsable del uso fraudulento que puedan hacer
      terceras personas de los contenidos o elementos tecnológicos dispuestos en
      el sitio web.
    </p>

    <h2>Propiedad Intelectual e Industrial</h2>
    <p>
      La totalidad de este sitio web: texto, imágenes, marcas, logotipos,
      archivos de audio y video, botones, archivos de software, combinaciones de
      colores, así como la estructura, selección, ordenación y presentación de
      sus contenidos, se encuentra protegida por las leyes sobre propiedad
      Intelectual e Industrial, quedando prohibida su reproducción,
      distribución, comunicación pública y transformación, salvo para uso
      personal y privado.
    </p>
  </section>
</Layout>
<style is:global>
  /* Estilos neobrutalistas para el body */
  body {
    font-family: system-ui, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.5;
    margin: 0;
  }

  /* Estilos neobrutalistas para los titulos */
  .title-section {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  li {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
  }
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
</style>
