---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <h1 class="title-section">¿Necesitas a la tuna? ¡No dudes en contactarnos!</h1>
  <h2 class="title-section">Únete a la Tuna. No hace falta saber cantar o tocar, nosotros te enseñamos. ¡Lo importante son las ganas, te esperamos!</h2>
  
  <div class="contact-container">
    <section class="contact-info">
      <h2 class="title-section">Otras formas de contactarnos</h2>
      <ul class="footer-section-links-social">
        <li><a href="mailto:contratacion@tunaderechosantiago.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/correo.png" alt="Email" width="44" height="44" /></a></li>
        <li><a href="https://wa.me/34661700823" target="_blank" rel="noopener noreferrer">
          <img src="/images/whatsapp.png" alt="WhatsApp" width="44" height="44" /></a></li>
        <li><a href="tel:+34661700823">
          <img src="/images/telefono.png" alt="Llamada" width="44" height="44" /></a></li>
      </ul>
      <img src="/images/tuna_en_colombia.jpg" alt="Descripción de la imagen" class="contact-image" />
    </section>

    <!-- Formulario de contacto -->
    <form
      name="contact"
      method="POST"
      data-netlify-recaptcha="true"
      data-netlify="true"
      netlify-honeypot="bot-field"
      id="contactForm"
    >
      <input type="hidden" name="form-name" value="contact" />
      <input type="hidden" name="bot-field" />
      
      <h2 class="title-section">Formulario de contacto</h2>
      
      <p>
        <label>Nombre (obligatorio): <input type="text" name="name" required /></label>
      </p>
      
      <p>
        <label>Correo Electrónico (obligatorio): <input type="email" name="email" required /></label>
      </p>
      
      <p>
        <label>Teléfono: <input type="tel" name="phone" /></label>
      </p>
      <p>
        <label>Mensaje: <textarea name="message"></textarea></label>
      </p>

      <p class="checkbox-container">
        <label for="privacy-policy">
          <p>Acepto la <a href="./../politica-privacidad" target="_blank">Política de Privacidad</a></p>
          <input type="checkbox" id="privacy-policy" name="privacy-policy" required />
        </label>
      </p>

      <div data-netlify-recaptcha="true"></div>
      
      <p>
        <button type="submit">Enviar</button>
      </p>
    </form>

    <!-- Modal de éxito -->
    <div id="successModal" class="modal" style="display: none;">
      <div class="modal-content">
        <p>¡Tu mensaje se ha enviado con éxito!</p>
        <button id="acceptButton">Aceptar</button>
      </div>
    </div>

  </div>
</Layout>

<!-- JavaScript para el modal -->
<script>
  document.getElementById('contactForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevenir el envío predeterminado

    // Simular el envío correcto del formulario
    setTimeout(function() {
      // Mostrar el modal cuando el envío sea exitoso
      document.getElementById('successModal').style.display = 'block';
    }, 1000);

    return false;
  });

  // Función para cerrar el modal y redirigir
  document.getElementById('acceptButton').addEventListener('click', function() {
    document.getElementById('successModal').style.display = 'none';
    window.location.href = '/contacto'; // Redirigir a la página de contacto
  });
</script>
<style>
  .title {
    text-align: center;
    margin-top: 2rem;
    color: rgb(9, 9, 9);
  }

  .subtitle {
    text-align: center;
    margin-bottom: 2rem;
  }
  p a {
  color: black; /* Letra en negro */
  text-decoration: none; /* Sin subrayado */
  border: none; /* Sin borde */
  padding: 0; /* Sin padding */
  box-shadow: none; /* Sin sombras */
}

p a:hover {
  color: #ea1010; /* Letra en rojo al hacer hover */
  text-decoration: none; /* Asegura que no haya subrayado en hover */
  background-color: transparent; /* Fondo transparente */
}


  .contact-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; /* Alineación superior */
    margin: 0 auto;
    max-width: 1200px; 
    gap: 20px; 
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
  }

  label {
    margin-top: 1rem;
    text-align: left; 
    font-weight: bold;
  }

  input,
  textarea {
    padding: 0.5rem;
    margin-top: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #080808; /* Borde más fino para mayor claridad */
    border-radius: 4px; /* Borde redondeado */
    font-size: 1rem;
  }

  button {
    background-color: #ffffff; /* Fondo blanco */
    color: #080808; /* Texto negro */
    border: 2px solid #080808; /* Borde negro */
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza la transición del hover */
  }

  button:hover {
    background-color: #ea1010; /* Hover rojo */
    color: #ffffff; /* Texto blanco */
  }

  /* Estilos adicionales para enlaces */
  a {
    color: #080808;
    text-decoration: none;
  }

  /* Contenedor del checkbox para darle un margen adecuado respecto al enlace */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio prudencial entre el enlace y el checkbox */
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #090909;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  position: relative; /* Para posicionar el ::before dentro del checkbox */
}

input[type="checkbox"]:checked {
  border-color: #ea1010;
}

/* Estilo para la marca de verificación */
input[type="checkbox"]:checked::before {
  content: '✓';
  color: rgb(250, 5, 5);
  font-size: 22px;
  font-weight: bold; /* Más gruesa */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%); /* Centrar la marca dentro del checkbox */
  line-height: 1;
  display: block;
  text-align: center;
}


  ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
  }

  .contact-info {
    max-width: 400px; /* Anchura máxima para la sección de contacto */
  }

  .contact-info a {
    color: white; /* Cambia el color de los enlaces a blanco */
    text-decoration: underline; /* Asegura que los enlaces sean subrayados */
  }

  .contact-image {
    margin-top: 1rem; /* Espacio superior para la imagen */
    width: 100%; /* Ancho completo para la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  p {
    color: #080808;
    }

  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row; /* Cambia a columnas en pantallas más grandes */
      justify-content: space-between; /* Espacio entre columnas */
    }
  }

  @media (max-width: 1024px) {
    .contact-container {
      flex-direction: column; /* Mantiene el diseño en una sola columna para tabletas */
    }
  }

  @media (min-width: 1025px) {
    .contact-container {
      flex-direction: row; /* Cambia a columnas en pantallas más grandes */
      justify-content: space-between; /* Espacio entre columnas */
    }
  }
</style>
