---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Historia de nuestra Tuna";
---

<Layout title={pageTitle}>
	<main>
        <h1 class="title">{pageTitle}</h1><br>
    <section class="historia">
		<h3>Según la historiografía local, los orígenes de la Tuna de Derecho de Santiago de Compostela se sitúan, sin duda alguna, entre el Mesozoico y la segunda mitad del siglo XX, producto de la inhalación excesiva de "gas ribeiro" por una docena y media de jóvenes estudiantes cuya principal pasión era causar infartos entre el personal docente y tañer extrañas y originales cítaras importadas del lejano Cipango.
        </h3>
        
        <img class="historia-img" src="/images/002-tuna-derecho-santiago-compostela.jpg" alt="Tuna en el parque.">
        
        <h3>
    Muy pronto adquiere renombrada fama por sus cualidades musicales, su vida pícara, alegre y desenfadada y cómo no, por su particular receta de lamprea con grelos. Son memorables sus correrías y andanzas, logrando múltiples honores, miles de halagos femeninos y enmoquetar de rojo pasión el local de ensayo.

</h3>
        <img class="historia-img" src="/images/003-tuna-derecho-santiago-compostela.jpg" alt="Tuna en el parque.">

    </section>
	</main>
</Layout>
<style is:global>

h3 {
    color: var(--color-background);
    text-shadow: 1px 1px 2px var(--shadow-dark);
}

.historia {
    padding: 20px;
    background-color: var(--color-accent);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-light);
    margin: 0 auto;
}

.historia-img {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-accent);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-dark);
    margin: 20px 0;
}

@media (min-width: 768px) {
    .historia {
        padding: 20px;
    }
}
@media (min-width: 1024px) {
    .historia {
        padding: 60px;
    }
}
</style>