---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Historia de nuestra Tuna";
---

<Layout title={pageTitle}>

        <h1 class="title">{pageTitle}</h1><br>
    <section>
		<h3>Según la historiografía local, los orígenes de la Tuna de Derecho de Santiago de Compostela se sitúan, sin duda alguna, entre el Mesozoico y la segunda mitad del siglo XX, producto de la inhalación excesiva de "gas ribeiro" por una docena y media de jóvenes estudiantes cuya principal pasión era causar infartos entre el personal docente y tañer extrañas y originales cítaras importadas del lejano Cipango.
        </h3>
        
        <img class="historia-img" src="/images/002-tuna-derecho-santiago-compostela.jpg" alt="Tuna en el parque.">
        
        <h3>
    Muy pronto adquiere renombrada fama por sus cualidades musicales, su vida pícara, alegre y desenfadada y cómo no, por su particular receta de lamprea con grelos. Son memorables sus correrías y andanzas, logrando múltiples honores, miles de halagos femeninos y enmoquetar de rojo pasión el local de ensayo.

</h3 >
        <img class="historia-img" src="/images/003-tuna-derecho-santiago-compostela.jpg" alt="Tuna en el parque.">

    </section>
	
</Layout>
<style is:global>
    nav a {
        color:black;
    }
    h3 {
        font-size: 1.2rem;
        text-align: left;

    }
    .historia {
        padding: 30px;
        background-color: var(--color-accent);
        border: 4px solid var(--color-primary);
        box-shadow: 10px 10px 0 var(--color-secondary);
        margin: 20px auto;
        max-width: 90%;
        border-radius: 0; /* Eliminar bordes redondeados */
        position: relative;
        z-index: 1;        
    }
    
    .historia:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 4px solid var(--color-background);
        z-index: -1;
    }
    
    .historia-img {
        width: 100%;
        height: auto;
        border: 6px solid var(--color-primary);
        box-shadow: 10px 10px 0 var(--shadow-dark);
        margin: 20px 0;
        border-radius: 0; /* Eliminar bordes redondeados */
    }
    
    @media (min-width: 768px) {
        .historia {
            padding: 40px;
        }
    }
    
    @media (min-width: 1024px) {
        .historia {
            padding: 60px;
            max-width: 70%;
        }
    }
    
    </style>
    