---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Política de Cookies - Tuna de Derecho de Santiago de Compostela";
const pageDescription = "Conoce nuestra política de cookies en Tuna de derecho de Santiago de Compostela. A continuación, te explicamososas son las cookies,osas tipos de cookies utilizamos y cómo utilizamos las cookies en nuestra web para mejorar la experiencia de usuario.";
const pageImage = "/images/cookies-policy.jpg";
const pageUrl = "https://tunacompostelana.netlify.app/politica-cookies";
---

<Layout title={pageTitle} description={pageDescription} image={pageImage} url={pageUrl}>
   <section class="container">
  <h1>Política de Cookies</h1>
  <br>
  <p>En <strong>Tuna de derecho de Santiago de Compostela</strong>, utilizamos cookies para mejorar la experiencia de nuestros usuarios. A continuación, te explicamos qué son las cookies, qué tipos de cookies utilizamos y cómo puedes gestionar tus preferencias.</p>
  <br>
  <h2>¿Qué son las cookies?</h2>
  <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador, tablet o móvil) cuando visitas un sitio web. Estas cookies permiten que el sitio web recuerde tus acciones y preferencias (como el idioma, tamaño de fuente y otras preferencias de visualización) durante un período de tiempo, de modo que no tengas que volver a configurarlas cada vez que vuelvas al sitio o navegues entre páginas.</p>
  <br>
  <h2>¿Qué tipos de cookies utilizamos?</h2> <br>
  <p>Nuestro sitio web utiliza los siguientes tipos de cookies:</p>
  <ul>
    <li><strong>Cookies técnicas o necesarias:</strong> Estas cookies son esenciales para que puedas navegar por nuestra web y utilizar sus funcionalidades, como acceder a áreas seguras del sitio.</li>
    <li><strong>Cookies de preferencia:</strong> Nos permiten recordar tus preferencias, como el idioma o la región desde la que accedes.</li>
    <li><strong>Cookies de análisis:</strong> Utilizamos cookies para analizar el tráfico en nuestro sitio web y mejorar tu experiencia de navegación. Estas cookies recopilan información de manera anónima.</li>
  </ul>
  <br>
  <h2>¿Cómo puedes gestionar tus cookies?</h2>
  <p>Puedes controlar y/o eliminar las cookies cuando lo desees. Para obtener más información sobre cómo gestionar y eliminar cookies, visita <a href="https://www.aboutcookies.org" target="_blank" rel="noopener noreferrer">aboutcookies.org</a>.</p>
  <p>También puedes configurar tu navegador para aceptar o rechazar todas las cookies, o para que te avise cuando se envíe una cookie. Ten en cuenta que si desactivas las cookies, algunas funciones de nuestro sitio web podrían no funcionar correctamente.</p>
  <br>
  <h2>Cookies de terceros</h2>
  <p>En algunas páginas de nuestro sitio web, se pueden instalar cookies de terceros, como Google Analytics, para analizar cómo interactúan los usuarios con nuestro contenido. Te recomendamos consultar la política de cookies de esos servicios para obtener información más detallada.</p>
  <br>
  <h2>Actualizaciones de la política de cookies</h2>
  <p>Nos reservamos el derecho de actualizar esta política de cookies para reflejar cambios en nuestros servicios o en la normativa legal. Te recomendamos revisar esta página periódicamente para estar informado sobre cómo usamos las cookies.</p>
  <br>
  <h2>Contacto</h2>
  <p>Si tienes alguna pregunta o duda sobre nuestra política de cookies, no dudes en <a href="/contacto">contactarnos</a>.</p>
</section>
</Layout>
<style is:global>

  /* Estilos neobrutalistas para el body */
  body {
    font-family: system-ui, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.5;
    margin: 0;
  }
  
  /* Estilos neobrutalistas para los titulos */
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333
  }
  li {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333
  }
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  </style>