---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Política de Privacidad - Eirado de Bouza Rica";
const pageDescription = "Conoce nuestra política de privacidad en Eirado de Bouza Rica.";
const pageImage = "/images/cookies-policy.jpg";
const pageUrl = "https://bouzarica.netlify.app/politica-privacidad";
---

<Layout title={pageTitle} description={pageDescription} image={pageImage} url={pageUrl}>

    <h1>Política de Privacidad</h1>
<br>
<h2>1. Introducción</h2>
<p>La presente Política de Privacidad establece los términos en que Tuna de derecho de Santiago de Compostela, en adelante "el Blog", utiliza y protege la información que recopila de los usuarios en su sitio web, disponible en <a href="https://bouzarica.netlify.app" target="_blank">https://bouzarica.netlify.app</a>. Nos comprometemos a garantizar la protección de la privacidad de nuestros usuarios. Si solicitamos que nos proporciones cierta información mediante la cual puedas ser identificado al utilizar este sitio, puedes estar seguro de que solo se utilizará de acuerdo con esta declaración de privacidad.</p>
<br>
<h2>2. Información que recopilamos</h2>
<p>El Blog puede recopilar información personal de los usuarios en diversas formas, incluyendo, pero no limitándose a, cuando los usuarios visitan nuestro sitio, se registran en el sitio, realizan un pedido, se suscriben al boletín de noticias, completan un formulario y en relación con otras actividades, servicios, características o recursos que ponemos a disposición en nuestro sitio.</p>
<p>Se les puede solicitar a los usuarios, según corresponda, nombre, dirección de correo electrónico, dirección postal, número de teléfono. Los usuarios pueden, no obstante, visitar nuestro sitio de forma anónima. Recopilaremos información personal de los usuarios solo si ellos nos la envían voluntariamente. Los usuarios siempre pueden negarse a proporcionar información personal, excepto que puede impedirles participar en ciertas actividades relacionadas con el sitio.</p>
<br>
<h2>3. Cómo utilizamos la información recopilada</h2>
<p>El Blog puede recopilar y utilizar la información personal de los usuarios para los siguientes fines:</p>
<ul>
    <li><strong>Mejorar el servicio al cliente:</strong> La información que proporciona nos ayuda a responder de manera más eficaz a tus solicitudes de servicio al cliente y soporte.</li>
    <li><strong>Personalizar la experiencia del usuario:</strong> Podemos utilizar la información en conjunto para entender cómo nuestros usuarios, como grupo, utilizan los servicios y recursos proporcionados en nuestro sitio.</li>
    <li><strong>Enviar correos electrónicos periódicos:</strong> Podemos utilizar la dirección de correo electrónico para enviar información del usuario y actualizaciones sobre su pedido. También puede utilizarse para responder a sus consultas, preguntas y/o a otras solicitudes. Si decides unirte a nuestra lista de correo, recibirás correos electrónicos que pueden incluir noticias de la empresa, actualizaciones, información relacionada con productos o servicios, etc. Si en cualquier momento deseas dejar de recibir correos electrónicos futuros, incluimos instrucciones detalladas para cancelar la suscripción al final de cada correo electrónico.</li>
</ul>
<br>
<h2>4. Protección de tu información</h2>
<p>Adoptamos prácticas adecuadas de recopilación, almacenamiento y procesamiento de datos y medidas de seguridad para proteger contra el acceso no autorizado, alteración, divulgación o destrucción de tu información personal, nombre de usuario, contraseña, información de transacciones y datos almacenados en nuestro sitio.</p>
<br>
<h2>5. Compartir tu información personal</h2>
<p>No vendemos, intercambiamos ni alquilamos la información de identificación personal de los usuarios a otros. Podemos compartir información genérica agregada no vinculada a ninguna información de identificación personal sobre los visitantes y usuarios con nuestros socios comerciales, afiliados de confianza y anunciantes para los fines mencionados anteriormente.</p>
<br>
<h2>6. Cookies</h2>
<p>Nuestro sitio puede utilizar "cookies" para mejorar la experiencia del usuario. El usuario puede elegir configurar su navegador para rechazar las cookies o para avisarle cuando se envían cookies. Si lo hacen, ten en cuenta que algunas partes del sitio pueden no funcionar correctamente.</p>
<br>
<h2>7. Derechos del usuario</h2>
<p>De acuerdo con la normativa aplicable, los usuarios tienen derecho a acceder, rectificar, suprimir y oponerse al tratamiento de sus datos personales. Si deseas ejercer alguno de estos derechos, puedes enviarnos una solicitud a la dirección de contacto proporcionada en esta política.</p>
<br>
<h2>8. Cambios en esta Política de Privacidad</h2>
<p>El Blog tiene la facultad de actualizar esta Política de Privacidad en cualquier momento. Cuando lo hagamos, revisaremos la fecha de actualización en la parte superior de esta página. Te animamos a que revises frecuentemente esta página para estar informado sobre cómo estamos protegiendo la información personal que recopilamos.</p>
<br>
<h2>9. Aceptación de estos términos</h2>
<p>Al utilizar este sitio, signifies tu aceptación de esta política. Si no estás de acuerdo con esta política, por favor no utilices nuestro sitio. Tu uso continuado del sitio después de la publicación de cambios a esta política se considerará tu aceptación de dichos cambios.</p>
<br>
<h2>10. Contacto</h2>
<p>Si tienes preguntas sobre esta Política de Privacidad, las prácticas de este sitio, o tus tratos con este sitio, por favor contáctanos:</p>
<p><strong>Eirado de Bouza Rica</strong><br>
Correo electrónico: <a href="mailto:bouzarica@gmail.com">bouzarica@gmail.com</a></p>

</body>
</Layout>