---
const currentYear = new Date().getFullYear();
---
<footer>
	<div class="footer-content">
		<div class="footer-section">
			<h3 class="title-footer">Páginas legales</h3><br>
			<ul class="footer-section-links">
				<li><a class="footer-link" href="/politica-privacidad">Política de privacidad</a></li>
				<li><a class="footer-link" href="/politica-cookies">Política de cookies</a></li>
				<li><a class="footer-link" href="/aviso-legal">Aviso legal</a></li>
			</ul>
			
		</div>
		<div class="footer-section">
			<h3 class="title-footer">Contacto</h3>
			<ul class="footer-section-links">
				<li><a class="footer-link" href="tel:+34661700823">Llámanos al teléfono: +34661700823</a></li>
				<li><a href="mailto:contratacion@tunaderechosantiago.com" target="_blank" rel="noopener noreferrer">contratacion@tunaderechosantiago.com</a></li>

				<li class="title">Facultad de Derecho
					Avda. Dr. Ángel Echeverri, s/n
					Campus Santiago Sur
					Santiago de Compostela
					A Coruña
					España
					15782</li>
			</ul>
		</div>
		<div class="footer-section-social">
			<h3 class="title-footer">Redes sociales</h3>
			<ul class="footer-section-links-social">
			  <li><a href="https://www.instagram.com/tunaderechosantiago/" target="_blank" rel="noopener noreferrer">
				<img src="/images/instagram.png" alt="Instagram" width="44" height="44" /></a></li>
			  <li><a href="https://www.facebook.com/TunaDerechoSantiago?fref=ts" target="_blank" rel="noopener noreferrer">
				<img src="/images/facebook.png" alt="Facebook" width="44" height="44" /></a></li>
			  <li><a href="https://x.com/TunaDerechoSCQ?lang=es" target="_blank" rel="noopener noreferrer">
				<img src="/images/gorjeo.png" alt="X" width="44" height="44" /></a></li>
			  <li><a href="https://www.tripadvisor.es/Attraction_Review-g187508-d6033163-Reviews-Tuna_de_Derecho_de_Santiago-Santiago_de_Compostela_Province_of_A_Coruna_Galicia.html" target="_blank" rel="noopener noreferrer">
				<img src="/images/tripadvisor.png" alt="TripAdvisor" width="44" height="44" /></a></li>
			</ul>
		  </div>
		  
		  
		<div class="footer-section">
			<h3 class="footer-section-title">Localización</h3>	
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4135.085102612503!2d-8.556808215283946!3d42.873968771156214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2efe6b328d6d7f%3A0x52b55eb675216318!2sTuna%20de%20Derecho%20de%20Santiago%20de%20Compostela!5e0!3m2!1sgl!2ses!4v1728756828902!5m2!1sgl!2ses" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		</div>
	</div>
	<div class="copyright">
		<p class="copyright-text">© {currentYear} Tuna de derecho de Santiago de Compostela. Todos los derechos reservados.</p>
	</div>
</footer>

