---
const currentYear = new Date().getFullYear();
---
<footer>
	<div class="footer-content">
		<div class="footer-section">
			<h3>Páginas legales</h3>
			<ul>
				<li><a href="/politica-privacidad">Política de privacidad</a></li>
				<li><a href="/politica-cookies">Política de cookies</a></li>
				<li><a href="/aviso-legal">Aviso legal</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3>Contacto</h3>
			<ul>
				<li><a href="/contacto">Contacto</a></li>
				<li><a href="https://www.instagram.com/eirado_bouza_rica_permacultura/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3>Webs amigas</h3>
			<ul>
				<li><a href="https://www.permacultura-es.org/" target="_blank" rel="permacultura-es.org">permacultura-es.org</a></li>
				<li><a href="https://www.sergicaballero.com/" target="_blank" rel="sergiocaballero.com">sergiocaballero.com</a></li>
				<li><a href="https://permaculturasureste.org/" target="_blank" rel="permaculturasureste.org">permaculturasureste.org</a></li>
			</ul>
		</div>
	</div>
	<div class="copyright">
		<p>&copy; {currentYear} Blog de Permacultura. Todos los derechos reservados.</p>
	</div>
</footer>

