---
const currentYear = new Date().getFullYear();
---
<footer>
	<div class="footer-content">
		<div class="footer-section">
			<h3 class="footer-section-title">Páginas legales</h3>
			<ul class="footer-section-links">
				<li><a href="/politica-privacidad">Política de privacidad</a></li>
				<li><a href="/politica-cookies">Política de cookies</a></li>
				<li><a href="/aviso-legal">Aviso legal</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3 class="footer-section-title">Contacto</h3>
			<ul class="footer-section-links">
				<li><a href="/contacto">Formulario de contacto</a></li>
				<li><a href="https://www.instagram.com/eirado_bouza_rica_permacultura/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
				<li><a href="mailto:bouzarica@gmail.com" target="_blank" rel="noopener noreferrer">bouzarica@gmail.com</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3 class="footer-section-title">Webs amigas</h3>
			<ul class="footer-section-links">
				<li><a href="https://www.permacultura-es.org/" target="_blank" rel="permacultura-es.org">permacultura-es.org</a></li>
				<li><a href="https://www.sergicaballero.com/" target="_blank" rel="sergiocaballero.com">sergiocaballero.com</a></li>
				<li><a href="https://permaculturasureste.org/" target="_blank" rel="permaculturasureste.org">permaculturasureste.org</a></li>
			</ul>
		</div>	
		<div class="footer-section">
			<h3 class="footer-section-title">Localización</h3>	
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d8340.26581815688!2d-8.597339639408538!3d42.34829532530717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spondecaldelas%20verdugo!5e0!3m2!1sgl!2ses!4v1728663275837!5m2!1sgl!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<div class="copyright">
		<p class="copyright-text">© {currentYear} Blog de Permacultura. Todos los derechos reservados.</p>
	</div>
</footer>

