---
import { Icon } from 'astro-icon';
---
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap" >
</head>

<header>
	<div class="header-content">
		
		<div id="menu-title" class="menu-title" >Eirado de Bouza Rica</div>
		<button id="menu-toggle" aria-label="Toggle menu">
			<Icon name="mdi:menu" width="24" height="24" />
		</button>
	</div>
	<nav id="main-nav">
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/permacultura">Permacultura</a></li>
			<li><a href="/talleres">Talleres</a></li>
			<li class="contact-link"><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>
</header>

<script>
	const menuToggle = document.getElementById('menu-toggle');
	const mainNav = document.getElementById('main-nav');
	const menuTitle = document.getElementById('menu-title');

	if (menuToggle && mainNav) {
		menuToggle.addEventListener('click', () => {
			mainNav.classList.toggle('show');
			menuTitle.classList.toggle('hidden'); // Cambia la visibilidad del título
		});
	}
</script>


