---
import { Icon } from "astro-icon";
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap"
    rel="stylesheet"
  />
</head>

<header id="header">
  <div class="header-content">
    <div id="menu-title" class="menu-title">
      <h4 class="protest-strike-regular">
        Tuna de Derecho de Santiago de Compostela
      </h4>
    </div>
    <button id="menu-toggle" aria-label="Toggle menu">
      <Icon name="mdi:menu" width="24" height="24" />
    </button>
  </div>

  <nav id="main-nav">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/historia">Historia</a></li>
      <li><a href="/videos">Vídeos</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li class="contact-link"><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const mainNav = document.getElementById("main-nav");
  const menuTitle = document.getElementById("menu-title");
  const header = document.getElementById("header");

  if (menuToggle && mainNav) {
    menuToggle.addEventListener("click", () => {
      mainNav.classList.toggle("show");
    });
  }

  // Añadir evento para el scroll
  window.addEventListener("scroll", () => {
    if (window.scrollY > 50) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  });
</script>

<style is:global>
  /* Header */
  header {
    background-image: url("/images/slide.jpg");
    background-size: cover;
    background-position: center;
    padding: 2rem;
    position: relative;
    transition: all 0.3s ease;
    z-index: 999;
  }

  header.scrolled {
    background-color: black;
    background-image: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem; /* Reducir el padding para modo minimalista */
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
  }

  .menu-title {
    font-family: "Protest Strike", sans-serif;
    color: var(--color-text-light);
    text-align: center;
    flex-grow: 1;
    font-size: 4rem;
    padding: 0.5rem;
    z-index: 2;
    transition: font-size 0.3s ease;
  }

  header.scrolled .menu-title {
    display: none; /* Ocultar título al hacer scroll */
    transition: display 0.3s ease;
  }

  nav {
    display: flex;
    justify-content: center;
    font-size: large;
    flex-direction: row;
    z-index: 2;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  nav li {
    margin: 0 1.5rem;
  }

  nav a {
    color: black;
    background-color: rgb(240, 233, 233);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    transition: background-color 0.3s;
  }

  nav a:hover {
    background-color: #ff0000;
    color: black;
  }

  /* Estilos ajustados del botón de hamburguesa */
  #menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--color-text-light);
    cursor: pointer;
    font-size: 24px;
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 50%;
  }

  /* Cambios al hacer scroll */
  header.scrolled #menu-toggle {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 50%;
  }

  /* Estilos responsivos para móviles */
  @media (max-width: 768px) {
    header {
      padding: 2rem;
      background-image: none;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    header.scrolled {
      position: relative; /* Ocultar el menú al hacer scroll */;
    }
    header.scrolled #menu-toggle {
      background-color: black; /* Fondo negro en scroll */
      color: white; /* Color blanco del icono */
    }

    .menu-title {
      font-size: 1.5rem;
    }

    /* Botón hamburguesa */
    #menu-toggle {
      top: 10px;
      right: 10px;
      display: block; /* Mostrar el botón en móviles */
      z-index: 1001; /* Asegura que la hamburguesa quede por encima */
      color: white; /* Color blanco en móviles */
      position: fixed;
      font-size: 2rem;
    }

    /* Ocultar el menú inicialmente */
    nav {
      display: none;
    }

    /* Mostrar el menú cuando esté activo con estilo de card */
  nav.show {
    display: block;
    background-color: white; /* Fondo blanco para la card */
    position: fixed;
    top: 50px; /* Separar del borde superior */
    left: 10%;
    right: 10%;
    width: 80%; /* Ancho ajustado */
    z-index: 1000;
    padding: 1rem;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de "card" */
  }

  /* Alinear los elementos del menú */
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1em;
  }

  /* Espaciado entre elementos del menú */
  nav li {
    margin: 0.5rem 0;
  }

  /* Estilos de los enlaces en la card */
  nav a {
    background-color: #f0e9e9; /* Fondo de los botones en la card */
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  nav a:hover {
    background-color: #ff0000; /* Fondo rojo al hacer hover */
    color: white;
  }
  }

  /* Estilos adicionales para tablets */
  @media (min-width: 768px) and (max-width: 1024px) {
    header {
      background-size: cover;
      background-position: center;
    }

    .menu-title {
      font-size: 3rem;
    }
  }

</style>
